

<mat-form-field style="width: 500px;">
  <textarea matInput [(ngModel)]="data"></textarea>
</mat-form-field>
<!--<mat-slide-toggle [(ngModel)]="flat">Flat: {{flat}}</mat-slide-toggle>-->
<button mat-button (click)="submit()">Submit</button>

<div class="tree-container mat-elevation-z4">


  <cdk-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- Row templates. The columns used are set at the row template level -->
    <cdk-node *cdkNodeDef="let node" [cdkNode]="node" (click)="currentNode=node">
      <nested-tree-node [node]="node" [selection]="selection">
      </nested-tree-node>



    </cdk-node>
  </cdk-tree>
</div>

<div style="margin: 10px">
  <button mat-button color="primary" (click)="expandAll()">Expand All</button>
  <button mat-button color="primary" (click)="collapseAll()">Collapse All</button>
</div>

<div *ngIf="treeControl">
  Selected: <span *ngFor="let node of selection.selected">{{node.key}}: {{node.value}}, </span>
</div>


<!--<mat-card *ngIf="!!currentNode">-->
  <!--<mat-card-title>Add child node</mat-card-title>-->
  <!--<mat-form-field>-->
    <!--<input matInput [(ngModel)]="key" placeholder="Key"/>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
    <!--<input matInput [(ngModel)]="value" placeholder="Value"/>-->
  <!--</mat-form-field>-->
  <!--<span> {{currentNode.key}} </span>-->
  <!--<button mat-button (click)="addChild()">Add Child</button>-->
<!--</mat-card>-->

<!--<button mat-button (click)="printNodes()"> PrintNodes</button>-->
